New User
<form action="<%= users_url %>" method="post">
  Username<input type="text" name="user[username]" value="">
  Password<input type="text" name="user[password]" value="">
  <input type="submit" value="Create User">
</form>
